---
import Baselayout from "../layouts/BaseLayout.astro";

let title = "About";

---
<Baselayout title={title}>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At odit veritatis quia aperiam, vero ipsa, cum nobis quod nulla quidem ad repellendus maiores labore rerum reiciendis nesciunt fugiat libero. Quo.
    </p>

</Baselayout>